<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<h2>Departments</h2>
<ul>
  <% @organization.departments.each do |dept| %>
    <li><%= link_to dept.name, dept %></li>
  <% end %>
</ul>

<p>
  <%= link_to 'New Department', new_organization_department_path(@organization) %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
